.container{
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.Main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

